.Login {
    width: 100%;
    height: 100vh;
    background-color: var(--azul-2);
    display: grid;
    grid-template-rows: 30% 70%;
}

.ImagenLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ImagenLogo img {
    width: 15%;
}

.ContenedorFormularioInciarSesion {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenedorFormularioInciarSesion form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 30% 40%;
}

.ContenedorFormularioInciarSesion input {
    font-family: 'OpenSans-Regular';
    text-align: center;    
    height: 45%;
    width: 40%;
    justify-self: center;
    font-size: 1.4rem;
}

input:focus {
    outline: none;
}

.ContenedorFormularioInciarSesion input:nth-child(1) {
    align-self: center;
}

.ContenedorFormularioInciarSesion input:nth-child(2) {
    align-self: flex-start;
}

.ContenedorFormularioInciarSesion div {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: flex-start;
}

.ContenedorFormularioInciarSesion button {
    background-color: transparent;
    font-family: 'OpenSans-Light';
    color: white;
    border: 0;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
}

.ContenedorFormularioInciarSesion button:nth-child(1) {
    justify-self: flex-end;
}

.ContenedorFormularioInciarSesion button:nth-child(2) {
    justify-self: flex-start;
}